@model TeacherCandidateCreateDto
<!-- Page Header End -->
<div class="container-xxl py-5 page-header position-relative mb-5">
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-4">Müəllim qeydiyyatı</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Ana səhifə</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Müəllim qeydiyyatı</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Müəllim qeydiyyatı</h1>
                        <form asp-action="Index" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" asp-for="Name" placeholder="Ad">
                                        <label asp-for="Name">Ad</label>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" asp-for="Surname" placeholder="Soyad">
                                        <label asp-for="Surname">Soyad</label>
                                        <span asp-validation-for="Surname" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control border-0" asp-for="Email" placeholder="Email">
                                        <label asp-for="Email">Email</label>
                                        <span asp-validation-for="Email" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" asp-for="PhoneNumber" placeholder="Əlaqə nömrəsi">
                                        <label asp-for="PhoneNumber">Əlaqə nömrəsi</label>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="date" class="form-control border-0" asp-for="BirthDate" placeholder="Təvəllüd">
                                        <label asp-for="BirthDate">Təvəllüd</label>
                                        <span asp-validation-for="BirthDate" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="file" class="form-control border-0" asp-for="PhotoUrl" placeholder="Şəkil">
                                        <label asp-for="PhotoUrl">Şəkil</label>
                                        <span asp-validation-for="PhotoUrl" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control border-0" asp-for="Experience" style="height: 100px"></textarea>
                                        <label asp-for="Experience">Təcrübə</label>
                                        <span asp-validation-for="Experience" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control border-0" asp-for="Education" style="height: 100px"></textarea>
                                        <label asp-for="Education">Təhsil</label>
                                        <span asp-validation-for="Education" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <button value="@DefaultConstantValue.ADD_MESSAGE" class="btn btn-primary w-100 py-3" type="submit">Göndər</button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="~/assets/img/teachercandidate.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        var message = '@Html.Raw(TempData["SuccessMessage"] != null ? TempData["SuccessMessage"].ToString() : "")';
        if (message.trim() !== '') {
            alert(message);
        }
    };
</script>