@model GurdianNumberCreateDto

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Nömrə</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppontmentId" class="control-label">Usaq qeydiyyati</label>
                <select asp-for="AppontmentId" class="form-control">
                    @if (ViewData["Appointments"] != null)
                    {
                        @foreach (var item in ViewData["Appointments"] as IEnumerable<Appointment>)
                        {
                            <option value="@item.Id">@item.GurdianName</option>
                        }
                    }
                    else
                    {
                        <span asp-validation-for="Number" class="text-danger"></span>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValue.ADD_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValue.RETURN_TO_BACK</a>
</div>
